/* * {
  box-sizing: border-box;
}
header {
  height: 60px;
  position: fixed;
  z-index: 10;
}
.header-menus {
  height: 100%;
  border-bottom: 1px solid darkcyan;
  padding-bottom: 65px;
}
.header-menus li {
  float: left;
  text-decoration: none;
  background-color: silver;
  padding: 8px;
  border-radius: 4px;
  font-size: 30px;
}
.header-menus a {
  color: black;
}
main {
  height: 200vh;
  width: 100%;
}
.about {
  background-color: lavender;
  height: 60%;
  padding: 100px 0; 
  display: flex;
}
.introduce {
  text-align: left;
  padding: 5px 50px;
  line-height: 200%;
  width: 150%;
}
h1 {
  text-align: center;
  height: 20px;
  border-bottom: 2px solid darkcyan;
  width: 70px;
  line-height: 80%;
}
.contents {
  margin-bottom: 40px;
}
p {
  width: 120px;
  margin-top: 20px;
  font-size: 17px;
  margin-bottom: 15px;
  margin-left: 10px;
}
.contents-image {
  height: 60%;
  width: 50%;
  border-radius: 30px;
}
.contents-text {
  margin-top: 15px;
}
.myself {
  width: 100%;
  font-size: 27px;
  margin: 12px 0;
}
.introduce_text {
  width: 100%;
  margin-right: 18px;
  font-size: 17px;
}
a {
  text-decoration: none;
}
#techexpert {
  color: blue;
  font-weight: bold;
}
#twitter {
  color: blue;
  font-weight: bold;
}
#hatena {
  color: green;
  font-weight: bold;
}
.skill {
  padding: 15px 50px;
  background-color: lightgray;
  height: 500px;
  width: 800px;
  margin-right: 100px;
  border-radius: 20px;
  margin-top: 40px;
}
.haml-sass-image {
  height: 20%;
  width: 40%;
  border-radius: 30px;
  margin-right: 20px;
}
.works {
  text-align: center;
  background-color: aliceblue;
  padding: 120px 0;
}
.hide-box {
  height: 395px;
  width: 720px;
  background-color: black;
  height: 395px;
  width: 720px;
  color: white;
}
.slider {
  height: 50%;
  width: 50%;
  margin-left: 500px;
  z-index: 0;
}

.meru {
  border: 1px solid black;
  height: 250px;
  width: 50%;
}
.meru-environment {
  text-align: start;
  margin: 50px 0 20px 330px;
  font-size: 14px;
  border: 1px solid darkcyan;
  width: 730px;
  padding: 10px;
  line-height: 150%;
}
#text-expense, #text-chat {
  margin-top: 30px;
}

.meru-works, .expense-works, .chat-works {
  padding-bottom: 150px;
}

.expense-environment {
  text-align: start;
  margin-left: 360px;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid darkcyan;
  width: 720px;
  padding: 10px;
  line-height: 150%;
}
h1 {
  margin: 0;
  padding-bottom: 12px;
}
#title {
  text-decoration: none;
  color: black;
  background-color: silver;
  padding: 6px;
  border-radius: 4px;
  font-size: 30px;
}
.chat-environment {
  text-align: start;
  margin-left: 140px;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid darkcyan;
  width: 660px;
  padding: 10px;
  line-height: 150%;
}
.chat-text-contents {
  text-align: start;
  padding: 0 140px;
  letter-spacing: 2px;
  line-height: 1.5em; 
  font-size: 14px;
}
.text-contents {
  text-align: start;
  padding: 0 200px;
  letter-spacing: 2px;
  line-height: 1.5em; 
  font-size: 14px;
}
span {
  color: red;
  font-size: 13px;
}
#expense-text {
  margin-left: 160px;
}
#new-chat-space {
  margin-left: 500px;
}
#new-chat-space .text-contents{
  margin-left: 35px;
}
.expense, .chat, .your-account {
  border: 1px solid black;
}
.your-account-environment {
  text-align: start;
  margin-left: 360px;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid darkcyan;
  width: 660px;
  padding: 10px;
  line-height: 150%;
}
.your-account-text {
  text-align: start;
  margin-left: 360px;
  letter-spacing: 2px;
}

.servise {
  height: 100%;
  text-align: center;
  background-color: seashell;
  padding: 170px 0;
  font-size: 20px;
}
.contact {
  height: 100%;
  text-align: center;
  background-color: ghostwhite;
  padding: 120px 0;
}
.haml-sass {
  display: flex;
}
form {
  width: 30%;
  margin: 0 auto;
}
.contact-form {
  padding-top: 24px;
}
.lavel {
  margin-bottom: 13px;
  text-align: start;
}
input {
  width: 100%;
  height: 30px;
  margin: 3px 0;
  font-size: 20px;
  border: 1px solid gray;
}
textarea {
  width: 100%;
  height: 200px;
  margin: 10px 0;
  padding: 20px;
  font-size: 20px;
  border: 1px solid gray;
}
.btn {
  width: 100%;
  padding: 10px 30px;
  margin-top: 10px;
  font-size: 15px;
  background-color: royalblue;
  color: white;
  border: 1px solid gray;
}
.footer {
  background-color: mediumaquamarine;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  width: 150%;
}
li {
  list-style: none;
  margin: 10px;
} */
