* {
  box-sizing: border-box;
}
.garary {
  display: flex;
  height: 90vh;
  width: 150%;
}
.meru-hide, .expense-hide, .chat-hide {
  display: none;
}
.portfolio1 {
  text-align: center;
  margin-right: 4px;
  width: 50%;
  background-color: aliceblue;
}
span {
  color: red;
  font-size: 13px;
}
.portfolio2 {
  text-align: center;
  margin-right: 3px;
  width: 50%;
  background-color: lavender;
}
#text-expense, #text-chat {
  margin-top: 30px;
}
.portfolio3 {
  text-align: center;
  width: 50%;
  background-color: lightsteelblue;
}
.title {
  border-bottom: 1px solid darkcyan;
  color: black;
  font-size: 40px;
  height: 60px;
  margin-top: 10px;
}
h1 {
  margin: 0;
  padding-bottom: 12px;
}
#title {
  text-decoration: none;
  color: black;
  background-color: silver;
  padding: 6px;
  border-radius: 4px;
  font-size: 30px;
}
p {
  margin-top: 40px;
  margin-left: 10px;
  text-align: center;
  font-size: 19px;
}
.text-contents {
  text-align: start;
  padding: 0 150px;
  letter-spacing: 2px;
  line-height: 1.5em; 
  font-size: 14px;
}
img {
  margin-top: 30px;
  margin-left: 170px;
  margin-bottom: 10px;
}
@media(max-width: 1000px) {
  img {
    margin-left: 120px;
  }
}
.meru, .expense, .chat {
  border: 1px solid black;
}
.explain {
  text-align: left;
}
.footer {
  background-color: mediumaquamarine;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  width: 150%;
}
li {
  list-style: none;
  margin: 10px;
}
