/* 全体的なCSS */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.menu-icon {
  display: none;
}

.modal {
  display: none;
}
/* -------------------------------------- */

/* PCの時のメニュー */
.table-of-contents-pc {
  box-shadow: 0 0 1px 1px black;
  position: fixed;
  z-index: 1;
  width: 150px;
  background-color: #fff;
  border-radius: 10px;
  top: 40px;
  left: 20px;
}

  .table-of-contents-pc h1 {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 15px 0 5px 0;
    width: 43%;
    margin-left: 40px;
  }
  #about, #skill, #skill-1, #skill-2, #skill-3, #skill-4, #works, #work-1, #work-2, #contact{
    cursor: pointer;
    font-family: 'Caveat', cursive;
  }

  #contact {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  header li {
    margin: 30px 0 10px 5px;
    font-size: 20px;
  }
/* --------------------------------------------------- */

/* ABOUT */
.top {
  height: 780px;
  text-align: center;
  margin-left: 150px;
}

.top h1 {
  padding-top: 50px;
  padding-bottom: 5px;
  width: 18%;
  font-size: 50px;
  margin-bottom: 40px;
  margin-left: 480px;
  background: linear-gradient(transparent 90%, #E5E5E5 0%);
}

.top-textbox {
  background-color: #E5E5E5;
  height: 550px;
  width: 1200px;
  text-align: start;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
}

  .top-textbox__contents {
    padding: 20px;
  }

  .top-textbox__contents p{
    line-height: 50px;
  }

.twitter--pc {
  width: 530px;
  height: 410px;
  overflow: scroll;
  border: 1px solid black;
  margin: 50px; 
}

.twitter--smart-phone {
  display: none;
}

/* ドットの大きさ調整 */
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 100px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* skill-1 */
.skill-1 {
  text-align: center;
}
  .skill-1 h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 13%;
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 650px;
    background: linear-gradient(transparent 90%, #E5E5E5 0%);
  }
  .skill-1__title {
    padding-top: 40px;
  }
    .skill-1__title h1 {
      font-size: 40px;
      margin-bottom: 20px;
      margin-left: 40px;
      margin-top: -30px;
    }

    .single { max-width: 800px; margin: 30px 0 50px 350px;}
      .single img { width: 99%; border-radius: 10px; border: 1px solid black;}

    .skill-1__textbox {
      height: 160px;
      width: 800px;
      margin: 80px auto;
      text-align: start;
      padding-left: 50px;
      font-size: 15px;
      letter-spacing: 0.1em;
      line-height: 2em;
    }

    .skill-1__textbox p {
      margin: 20px 0;
    }

/* skill-2 */
.skill-2 {
  text-align: center;
}

  .skill-2 .title {
    padding-top: 40px;
  }

    .skill-2 .title h1 {
      font-size: 40px;
      margin-bottom: 20px;
      margin-top: -30px;
      margin-left: 50px;
    }

  .single-2 { max-width: 800px; margin: 50px 300px 0 350px;}
    .single-2 img{ width: 99%; border-radius: 10px; border: 1px solid black;}

  .single-2__textbox {
    height: 160px;
    width: 800px;
    margin: 80px auto;
    text-align: start;
    padding-left: 50px;
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 2em;
  }

    .single-2__textbox p , .textbox a{
      margin: 20px 0;
    }

/* skill-3 */
.skill-3 {
  text-align: center;
}

  .skill-3 .title {
    padding-top: 40px;
  }

    .skill-3 .title h1 {
      font-size: 40px;
      margin-bottom: 20px;
      margin-top: -30px;
      margin-left: 50px;
    }

  .single-3 { max-width: 800px; margin: 50px 300px 0 350px;}
    .single-3 img{ width: 99%; border-radius: 10px; border: 1px solid black;}

  .skill-3__textbox {
    height: 160px;
    width: 800px;
    margin: 80px auto;
    text-align: start;
    padding-left: 50px;
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 2em;
  }

    .skill-3__textbox p {
      margin: 20px 0;
    }

/* skill-4 */
.skill-4 {
  text-align: center;
}

  .skill-4 .title {
    padding-top: 40px;
  }

    .skill-4 .title h1 {
      font-size: 40px;
      margin-bottom: 20px;
      margin-top: -30px;
      margin-left: 50px;
    }

  .single-4 { max-width: 800px; margin: 50px 300px 0 350px;}
    .single-4 img{ width: 99%; border-radius: 10px; border: 1px solid black;}

  .skill-4__textbox {
    height: 160px;
    width: 740px;
    margin: 80px auto;
    text-align: start;
    padding-left: 50px;
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 2em;
  }

    .skill-4__textbox p {
      margin: 20px 0;
    }

/* WORKS */
.works {
  text-align: center;
  height: 1500px;
  width: 100%;
  font-size: 20px;
  position: relative;
}


  .works h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 45%;
    font-size: 50px;
    margin-bottom: 60px;
    margin-left: 420px;
    background: linear-gradient(transparent 90%, #E5E5E5 0%);
  }

/* work-1 */
.work-1 {
  margin-left: 15px; 
}

.work-1 h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.work-1__url {
  margin-bottom: 20px;
}

.work-1__procedure {
  position: relative;
  margin-top: 50px;
}

    .work-1__title h3 {
      z-index: 1;
      margin-top: 20px;
      position: absolute;
      left: 700px;
      top: -45px;
      background-color: #fff;
      padding: 10px;
    }

.work-1__textbox {
  margin: 20px 50px 100px 400px;
  height: 725px;
  padding: 15px 15px 30px 15px;
  border: 1px solid gray;
  width: 700px;
}

  .work-1__textbox p {
    margin: 30px 0;
    text-align: start;
  }

  .work-1__textbox span {
    margin-right: 20px;
  }

/* work-2 */
  .work-2 h2 {
    margin: 0 0 20px 25px;
    font-weight: bold;
  }

.work-2__procedure {
  position: relative;
}

    .work-2__title h3{
      z-index: 1;
      margin-top: 20px;
      position: absolute;
      left: 680px;
      top: -45px;
      background-color: #fff;
      padding: 10px;
    }

  #work-2__textbox {
    height: 240px;
    margin: 70px 0 0 450px;
    border: 1px solid gray;
    width: 570px;
    padding-left: 20px;
  }

    #work-2__textbox p {
      margin: 30px 0;
      text-align: start;
    }

    #work-2__textbox span {
      margin-right: 20px;
    }

/* CONTACT */
.contact {
  text-align: center;
  width: 100%;
  border-radius: 10px;
}

  .contact h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 23%;
    font-size: 50px;
    margin-bottom: 60px;
    margin-left: 580px;
    background: linear-gradient(transparent 90%, #E5E5E5 0%);
  }

  .form {
    background-color: #E5E5E5;
    width: 60%;
    margin: 0 500px 500px 300px;
    padding: 25px;
    border-radius: 10px;
  }

    .contact-form {
      margin: 10px 0;
    }
      .form .lavel {
        font-size: 30px;
      }

      .contact-form input {
        margin: 15px 0;
        height: 30px;
        width: 300px;
        font-size: 20px;
        border-radius: 10px;
        border: 1px solid black;
      }

      .contact-form textarea {
        margin-top: 20px;
        height: 200px;
        width: 500px;
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
      }

    .form .btn {
      margin-bottom: 10px;
      width: 50%;
      height: 50px;
      font-size: 20px;
      border-radius: 10px;
    }

/* スクロール */
  .scroll-arrow {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    background-color: #888;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #ddd;
    font-size: 20px;
    cursor: pointer;
  }



