/* スマホのmax-widthは767px */
/* @media(max-width: 767px) { 
  何の{
    何を : どうする;
  } 
} */

@media(max-width: 767px) { 

  .scroll-arrow{
    font-size: 40px;
    height: 150px;
    width: 150px;
    line-height: 150px;
  } 

  /* メニュー */
    .menu-icon {
      display: block;
      font-size: 80px;
      position: fixed;
      margin: 60px 20px 20px 20px;
      z-index: 10;
    }
    
    .modal {
      display: none;
    }

      .table-of-contents {
        box-shadow: 0 0 1px 5px black;
        position: fixed;
        width: 800px;
        background-color: #fff;
        border-radius: 10px;
        height: 1750px;
        top: 75px;
        left: 150px;
        padding: 0 30px 0 60px;  
        z-index: 2;
        overflow: scroll;
      }

      .table-of-contents-pc {
        display: none;
      }

    .modal-active {
      display: block;
    }
    
      .table-of-contents h1 {
        border-bottom: 5px solid black;
        text-align: center;
        padding: 15px 0 5px 0;
        width: 73%;
        margin: 60px 0 50px 40px;
        font-size: 100px;
      }
      
      header li {
        margin: 100px 0 10px 15px;
        font-size: 50px;  
      }

      #contact {
        margin: 80px 0;
        width: 85%;
      }
    /* ----------------------------------- */
  
  /* ABOUT */  
  .top {
    height: 1780px;
    margin-left: 0;
  }
    .top h1 {
      padding-top: 50px;
      padding-bottom: 5px;
      width: 60%;
      font-size: 50px;
      margin-bottom: 40px;
      margin-left: 450px;
      background: linear-gradient(transparent 90%, #E5E5E5 0%);
    }
    .top-textbox {
      background-color: #E5E5E5;
      height: 1000px;
      width: 800px;
      text-align: start;
      margin: 0 100px 100px 150px;
      border-radius: 10px; 
      display: block;
    }
    .top-textbox__contents {
      padding: 20px;
      font-size: 30px;
    }
    .top-textbox__contents p{
      line-height: 50px;
    }

    .twitter--pc {
      display: none;
    }

    .twitter--smart-phone {
      width: 800px;
      height: 500px;
      overflow: scroll;
      border: 2px solid black;
      margin-left: 150px;
      display: block;
    }
  
  .skill-1, .skill-2, .skill-3, .skill-4 {
    text-align: center;
  }

  /* ドットの大きさ調整 */
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 100px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

  /* skill-1  */  
  .skill-1 {
    text-align: center;
  }
    .skill-1 h2 {
      padding-top: 50px;
      padding-bottom: 20px;
      width: 43%;
      font-size: 50px;
      margin-bottom: 30px;
      margin-left: 450px;
      background: linear-gradient(transparent 90%, #E5E5E5 0%);
    }
    .skill-1__title {
      padding-top: 40px;
    }
      .skill-1__title h1 {
        font-size: 40px;
        margin-bottom: 20px;
        margin-left: 390px;
        margin-top: -30px;
        width: 300px;
      }
  
      .single { width: 700px; margin: 30px 0 50px 200px;}
        .single img { width: 99%; border-radius: 10px; border: 1px solid black;}
  
      .skill-1__textbox {
        height: 160px;
        width: 800px;
        margin: 80px 0 100px 145px;
        text-align: start;
        padding-left: 50px;
        font-size: 25px;
        letter-spacing: 0.1em;
        line-height: 2em;
      }
  
      .skill-1__textbox p {
        margin: 20px 0;
      }  
  
  /* skill-2  */
  .skill-2 {
    text-align: center;
  }
  
    .skill-2 .title {
      padding-top: 40px;
    }
  
      .skill-2 .title h1 {
        font-size: 40px;
        margin-bottom: 20px;
        margin-top: -30px;
        margin-left: 400px;
        width: 300px;
      }
  
    .single-2 { width: 1000px; margin: 50px 300px 0 150px;}
      .single-2 img{ width: 99%; border-radius: 10px; border: 1px solid black;}
  
    .single-2__textbox {
      height: 160px;
      width: 800px;
      margin: 80px 0 300px 150px;
      text-align: start;
      padding-left: 50px;
      font-size: 25px;
      letter-spacing: 0.1em;
      line-height: 2em;
    }
  
      .single-2__textbox p , .textbox a{
        margin: 20px 0;
      }

/* skill-3 */
.skill-3 {
  text-align: center;
}

  .skill-3 .title {
    padding-top: 40px;
  }

    .skill-3 .title h1 {
      font-size: 40px;
      margin-bottom: 20px;
      margin-top: -30px;
      margin-left: 500px;
    }

  .single-3 { width: 1000px; margin: 50px 300px 0 170px;}
    .single-3 img{ width: 99%; border-radius: 10px; border: 1px solid black;}

  .skill-3__textbox {
    height: 160px;
    width: 900px;
    margin: 80px 0 200px 100px;
    text-align: start;
    padding-left: 50px;
    font-size: 25px;
    letter-spacing: 0.1em;
    line-height: 2em;
  }

    .skill-3__textbox p {
      margin: 20px 0;
    }

/* skill-4 */
.skill-4 {
  text-align: center;
}

  .skill-4 .title {
    padding-top: 40px;
  }

    .skill-4 .title h1 {
      font-size: 40px;
      margin: -30px 0 20px 380px;
      width: 300px;
    }

  .single-4 { width: 800px; margin: 50px 300px 0 150px;}
    .single-4 img{ width: 99%; border-radius: 10px; border: 1px solid black;}

  .skill-4__textbox {
    height: 160px;
    width: 840px;
    margin: 80px 0 200px 100px;
    text-align: start;
    padding-left: 50px;
    font-size: 25px;
    letter-spacing: 0.1em;
    line-height: 2em;
  }

    .skill-4__textbox p {
      margin: 20px 0;
    }

/* WORKS */
.works {
  text-align: center;
  height: 2000px;
  width: 100%;
  font-size: 20px;
  position: relative;
}


  .works h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 125%;
    font-size: 50px;
    margin-bottom: 60px;
    margin-left: 320px;
    background: linear-gradient(transparent 90%, #E5E5E5 0%);
  }

/* work-1 */
.work-1 h2 {
  margin-bottom: 20px;
  font-weight: bold;
  margin-left: 400px;
  width: 300px;
  font-size: 30px;
}

.work-1__url {
  margin-bottom: 20px;
  margin-left: 300px;
  width: 500px;
  font-size: 25px;
}

.work-1__procedure {
  position: relative;
  margin-top: 80px;
}

    .work-1__title h3 {
      z-index: 1;
      margin-top: 20px;
      position: absolute;
      left: 500px;
      top: -45px;
      background-color: #fff;
      padding: 10px;
      width: 150px;
      font-size: 30px;
    }

.work-1__textbox {
  margin: 20px 50px 100px 120px;
  height: 850px;
  padding: 15px 15px 30px 15px;
  border: 1px solid gray;
  width: 900px;
  font-size: 25px;
}

  .work-1__textbox p {
    margin: 30px 0;
    text-align: start;
  }

  .work-1__textbox span {
    margin-right: 20px;
  }

/* work-2 */
.work-2 h2 {
  margin: 0 0 20px 405px;
  font-weight: bold;
  width: 300px;
  font-size: 30px;
}

.work-2__url {
  margin-bottom: 20px;
  margin-left: 200px;
  width: 700px;
  font-size: 25px;
}
.work-2__procedure {
position: relative;
}

  .work-2__title h3{
    z-index: 1;
    margin-top: 20px;
    position: absolute;
    left: 450px;
    top: -45px;
    background-color: #fff;
    padding: 10px;
    width: 200px;
    font-size: 30px;
  }

#work-2__textbox {
  height: 250px;
  margin: 70px 0 0 200px;
  border: 1px solid gray;
  width: 700px;
  padding-left: 20px;
  font-size: 25px;
}

  #work-2__textbox p {
    margin: 30px 0;
    text-align: start;
  }

  #work-2__textbox span {
    margin-right: 20px;
  }

/* CONTACT */
.contact {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1500px;
}

  .contact h1 {
    padding-top: 250px;
    padding-bottom: 20px;
    width: 83%;
    font-size: 50px;
    margin-bottom: 60px;
    margin-left: 380px;
    background: linear-gradient(transparent 90%, #E5E5E5 0%);
  }

  .form {
    background-color: #E5E5E5;
    width: 200%;
    margin: 0 500px 500px 130px;
    padding: 30px;
    border-radius: 10px;
  }

    .contact-form {
      margin: 10px 0;
    }
      .form .lavel {
        font-size: 30px;
      }

      .contact-form input {
        margin: 15px 0;
        height: 30px;
        width: 300px;
        font-size: 20px;
        border-radius: 10px;
        border: 1px solid black;
      }

      .contact-form textarea {
        margin-top: 20px;
        height: 300px;
        width: 700px;
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
      }

    .form .btn {
      margin-bottom: 10px;
      width: 50%;
      height: 50px;
      font-size: 20px;
      border-radius: 10px;
    }




}