@media (max-width: 450px){
  header {
    display: none;
  }
  #contact {
    margin-left: 0;
  }
  .header-icon {
    display: block;
    top: 15px;
    right: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    position: fixed;
    z-index: 20;
     }
    .contact {
      z-index: 30;
    }
     .modal {
      background-color: #fff;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      z-index: 10;
      }
      .modal-menus {
        margin-top: 100px;
      }
      .modal-menu {
        margin: 30px 60px;
        font-size: 30px;
      }
     .top {
      padding: 0;
      display: block;
      width: 100%;
      height: 73vh;
      margin-left: 10px;
      margin-top: 60px;
    }
  .top__image {
    width: 50%;
    margin-left: 0;
    
  }
  .top__image img {
    border-radius: 50%;
    height: 350px;
    width: 300px;
  }
  .top__text-box {
    width: 90%;
    margin-top: 10px;
    margin-right: 0;
    line-height: 50px;
    margin-left: 0;
  }

/* 共通レイアウト */
.main {
  height: 83vh;
  width: 97%;
  margin: 20px;
  display: none;
  z-index: 30;
}
  .main__contents {
    width: 100%;
    height: 600px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 rgba(0,0,0,0.1);
  }

  .main__contents h1 {
    text-align: center;
    margin: 20px 0;
  }

  .main__contents p {
    margin: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    font-size: 13px;
  }
/* お問い合わせ */
.contact-form {
  width: 97%;
}
.form {
  margin: 0 0; 
  padding-top: 30px;
}
.lavel {
  margin: 10px 0;
}
.contact-form input {
  border: 1px solid rgba(0,0,0,0.7)
}
.contact-form textarea {
  width: 100%;
  height: 300px;
  border: 1px solid rgba(0,0,0,0.7)
}
.btn {
  font-size: 40px;
  background-color: rgba(0,0,0,0.1);
  padding: 10px;
  border: 1px solid;
  margin-top: 10px;
}

/*自己紹介*/
.history {
  width: 100%;
  margin-left: 0;
  margin-top: 80px;
  height: 90vh;
}
.border:before {
    border-top: 1px solid rgba(0,0,0,0.5);
    content: "";
    flex-grow: 0.04;
    margin-right: 1rem;
    color: rgba(0,0,0,0.5);
    
  }
.history p {
  font-size: 15px;
  padding: 0 20px;
}
.output {
  width: 100%;
  margin-top: 300px;
}
.output__contents {
  display: block;
  margin-left: 0;
  padding-left: 0;
}
  .twitter {
    height: 250px;
    width: 100%;
    overflow: scroll;
    text-align: center;
  }

  .hatena {
    margin-left: 20px;
    text-align: center;
  }

  .hatena img {
    width: 250px;
  }
/* 制作物 */
.works {
  margin-left: 0;
}
.works-lp {
  width: 100%;
}
.works-sp {
  width: 100%;
}
.works-lp__img {
  margin-left: 25px;
  margin-top: 20px;
  text-align: center;
  width: 90%;
}
.works-lp button, .works-sp button {
  cursor: pointer;
  font-size: 20px;
}

.works-sp img {
  margin-left: 110px;
  margin-top: 50px;
  text-align: center;
}
.works-sp {
  position: relative;
}
.works-lp {
  position: relative;
  margin-top: 100px;
}
.works-lp button {
  position: absolute;
  bottom: 100px;
  left: 120px;
  border: 1px solid;
}
.works-sp button {
  position: absolute;
  bottom: 150px;
  left: 120px;
  border: 1px solid;
}
/* モーダル */
.modal-wrapper-lp, .modal-wrapper-sp {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}
  
  .modal-contents {
    margin: 100px auto;
    text-align: center;
    height: 40%;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    position: relative;
    box-shadow: 1px 1px 1px black;
  }
  .modal-contents-sp {
    margin: 20px auto;
    text-align: center;
    height: 88%;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    position: relative;
    box-shadow: 1px 1px 1px black;
  }

    .modal-icon {
      position: absolute;
      top: 15px;
      left: 15px;
      cursor: pointer;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      font-size: 20px;
      line-height: 40px;
    }

    .video {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
    .video-responsive {
      position: absolute;
      top: 60px;
      left: 0;
      display: block;
    }
    .video-sp {
      position: absolute;
      top: 50px;
      left: 0;
      display: none;
    }
    .video-sp-responsive {
      display: block;
      position: absolute;
      top: 80px;
      left: 20px;
    }


  footer {
    height: 10vh;
    position: absolute;
    bottom: -570px;
    left: 20px;
  }
  
   footer p {
     margin-top: 340px;
     margin-left: 50px;  
     color: rgba(0,0,0,0.3)
   }
}