/* ヘッダーメニュー */

header {
  height: 8vh;
  line-height: 69px;
  border-bottom: 1px solid rgba(229,229,229,0.9);
}

  #contact {
    float: left;
    margin-left: 20px;
  }

  header ul {
    float: right;
  }
    
    header li {
      list-style: none;
      margin-right: 20px;
      float: left;
      cursor: pointer;
    }

.header-icon {
  display: none;
}

.modal {
  display: none;
}
    
/* トップページ */
.top {
  padding: 50px;
  display: flex;
  width: 90%;
  height: 73vh;
}

.top h1{
  font-size: 40px;

}

.top__text-box {
  width: 50%;
  margin-top: 10px;
  line-height: 50px;
  margin-left: 50px;
}

.top__text {
  width: 100%;
  margin-top: 20px;
}

.top__image {
  width: 50%;
  margin-left: 100px;
}

/* メイン */


  /* 共通レイアウト */
  .main {
    height: 83vh;
    width: 97%;
    margin: 20px;
    display: none;
    z-index: 30;
  }

    .main__contents {
      width: 400px;
      height: 600px;
      margin: 20px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      border-radius: 10px;
    }

    .main__contents h1 {
      text-align: center;
      margin: 20px 0;
    }

    .main__contents p {
      margin: 20px;
      line-height: 40px;
      letter-spacing: 2px;
      font-size: 13px;
    }

/* お問い合わせ */
.contact-form {
  width: 97%;
}
.form {
  margin: 0 200px; 
  padding-top: 30px;
}
.lavel {
  margin: 10px 0;
}
.contact-form textarea {
  width: 100%;
  height: 300px;
}
.btn {
  font-size: 20px;
}

/*自己紹介*/
.history {
  width: 40%;
  margin-left: 150px;
}
.border:before {
    border-top: 1px solid rgba(0,0,0,0.5);
    content: "";
    flex-grow: 0.04;
    margin-right: 1rem;
    color: rgba(0,0,0,0.5);
    
  }
.history p {
  font-size: 15px;
  padding: 0 20px;
}
.output {
  width: 40%;
}
.output__contents {
  display: flex;
  margin-left: 0 30px;
  padding-left: 70px;
}
  .twitter {
    height: 450px;
    width: 200px;
    overflow: scroll;
    text-align: center;
  }

  .hatena {
    margin-left: 20px;
    text-align: center;
  }

  .hatena img {
    width: 250px;
  }




/* できること */

/* 制作物 */
.works-lp {
  width: 50%;
}
.works-sp {
  width: 45%;
}
.works-lp__img {
  margin-left: 25px;
  text-align: center;
  width: 90%;
}
.works-lp button, .works-sp button {
  cursor: pointer;
  font-size: 20px;
}

.works-sp img {
  margin-left: 200px;
  text-align: center;
}
.works-sp {
  position: relative;
}
.works-lp {
  position: relative;
}
.works-lp button {
  position: absolute;
  bottom: 75px;
  left: 270px;
}
.works-sp button {
  position: absolute;
  bottom: 50px;
  left: 270px;
}

/* モーダル */
.modal-wrapper-lp, .modal-wrapper-sp {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}
  
  .modal-contents {
    margin: 20px auto;
    text-align: center;
    height: 90%;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    position: relative;
    box-shadow: 1px 1px 1px black;
  }
  .modal-contents-sp {
    margin: 20px auto;
    text-align: center;
    height: 90%;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    position: relative;
    box-shadow: 1px 1px 1px black;
  }

    .modal-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      font-size: 20px;
      line-height: 40px;
    }

    .video {
      position: absolute;
      top: 100px;
      left: 100px;
    }
    .video-responsive {
      display: none;
    }
    .video-sp {
      position: absolute;
      top: 50px;
      left: 190px;
    }
    .video-sp-responsive {
      display: none;
    }

/* フッター */
footer {
  height: 10vh;
}

 footer p {
   margin-top: 20px;
   margin-left: 10px;
   color: rgba(0,0,0,0.3)
 }